@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Computer Modern";
        src: url('fonts/cmunss.otf');
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('fonts/cmunsx.otf');
        font-weight: bold;
    }
    /* @font-face {
        font-family: "Computer Modern";
        src: url('fonts/cmunsi.otf');
        font-style: italic, oblique;
    }
    @font-face {
        font-family: "Computer Modern";
        src: url('fonts/cmunbxo.otf');
        font-weight: bold;
        font-style: italic, oblique;
    } */

    @media print {
        body {
            font-family: "Computer Modern", sans-serif;
            font-size: 20px;
            width: 100%;
        }
    }

    html {
        font-size: 16px;
    }
    @media (min-width:640px) {
        html {
            font-size:18px
        }
    }
    @media (min-width:768px) {
        html {
            font-size:20px
        }
    }
    @media (min-width:1024px) {
        html {
            font-size:22px
        }
    }
    @media (min-width:1280px) {
        html {
            font-size:24px
        }
    }
}